:root {
  --blue: #155da1;
  --blue-light: #3e87cd;
  --blue-lighter: #b4d8fa;
  --blue-dark: #0e4e8a;
  --blue-darker: #0d3f6e;
  --text-dark: #031425;

  --header-width: 1440px;
  --content-width: 1200px;

  --animation: 0.2s ease;
}

@media (min-width: 2560px) {
  :root {
    --header-width: 2160px;
    --content-width: 1800px;
  }
}

body {
  margin: 0;
  font-family: Open Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
  font-family: Chivo;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.button-link {
  text-decoration: none;
}
